doctype html
html(lang='en')
    head
        title=Score
        style 
            include style.css 
    body
        div
            h1 The Number Quiz
            p Your current score is #{points}.
            p You have Completed the Number Quiz, with a score of #{points} out of 5.
            p 
                a(href='/back') Play Again