body {
    margin: 10px;
    height: 100vh;
}
.header {
    height: 20%;
    background-image:url(images/download.jpeg);
    background-repeat: repeat-x;
}
.name {
    color: yellowgreen;
}
.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
    margin-left: 10px;
}
.content {
    height: 65%;
}
.footer {
    height: 10%;
    background-color: rgb(236, 244, 247);
}