body {
    margin: 10px;
    height: 100vh;
}
.header {
    height: 20%;
    background-image:url(images/download.jpeg);
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-around;
}
.menu {    
    align-self: center;
    
}
.content ul {
    justify-content: flex-start;
    /* display: flex;
    flex-direction: column; */
}

.content ul li{
    list-style: none;
    margin: 10px;
    align-self: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(214, 2, 2);
    font-weight: bold;
}
.name {
    color: rgb(14, 157, 240);
    font-weight: bolder;
}
.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
}
.content {
    height: 65%;
    margin-left: 200px;
}
.footer {
    height: 10%;
    background-color: rgb(236, 244, 247);
    display: flex;
    justify-content: space-between;
}

.footer-right {
    align-self: flex-end;
}

.footer-left p {
    padding: 0px;
    line-height: 6px;
}
.page-index {
    columns: 3;
    column-gap: 2%;
    padding-left: 2px;
    padding-right: 2px;
}