/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2015, 2:07:15 PM
    Author     : 984722
*/
body{
    text-align: left;
    margin: auto;
    width: 60%;
}
.header {
    height:80px;
    margin-top: 10px;
}
img#logo {
    float : left;
}
h1.title {
    display: inline-block;
    margin-top: 18px;
    margin-left: 30px;
}
#word {
    width: 520px;
    height: 25px;
    clear: left;
}
button {
    width: 116px;
    height: 32px;
    background-color: #3e96f0;
    color: white;
    font-size: 18px;
}
ol#deflist {
    margin-left: -20px;
} 
ol#deflist li{
    margin-bottom: 10px;
}
#w3ccheck {
    position: absolute;
    text-align: left;
    bottom: 10px;
}