.account{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
div.row{
    width: 100%;
    height: 35px;
}
.col1{
    /* margin-right: 100px; */
    width: 40%;
    height: 45px;
}
.col2{
    width: 70%;   
    float: right;
}
div.col2 {
    text-align: right;
    display: inline;
}
label{
    vertical-align: middle;
}

input[type="text"],input[type="number"], select, input[type="submit"]{
    height: 30px;
    border-radius: 8px;
    font-size: 14pt;
    color: mediumblue;
}
button{
    background-color: lawngreen;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 40px;
}
.col2 {
    width: 60%;
    float: right;
    vertical-align: middle;
}

h1.ss{
    text-align: center;
}
