
html 
head 
title 
body 
div 

 form(action="/users", method="POST") 
    input(type="text", name="first")
    div 
    input(type="text", name="sec")
    div 
    input(type="submit", value="Click")