<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <form action = 
    "/users" method="POST">
    <div>Enter two numbers
    <input type = "text" name="first"/><br/>
  
    <label for="operation">Select Operator:</label>
    <select name="operator" id="">
<option value="multi">Multiplication</option>
<option value="added">addition</option>
<option value="subt">Substruct</option>
<option value="divid">Division</option>

    </select>
    <input type="submit" value="Click"/>
    </div>
    </form>
</body>
</html>