div 

h1 The Number Quiz 
p Your current score is 

p Guess the next number in the sequence 
- var x=5;
- var ques=["1,1,2,3,5","1,4,9,16,25","2,3,5,7,11","1,2,4,8,16"];
- var ans=[9,8,36,13,32];
- var temp=0;
- for(var i=0;i<ques.length;i++){

 - if(ques[0]) temp=ans[0];
 -  if(ques[1]) temp=ans[1];
 
 p= ques[i] 

 p= ans[i]
    
  
-}
 


label(for="txt") Your answer: 
input(type="text", name="txt")
br
input(type="submit", value="Submit")


