body {
    background-color: rgb(92, 105, 89);
}
h1 {
    color: rgb(56, 143, 146);
    font-size: 50px;
}
h5 {
    color: white;
}
h3 {
    color: rgb(56, 143, 146);
    font-size: 30px;
}

li {
    color: white;
    font-size: large;
}
.mood {
    color: white;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    color: white;
}
p:first-letter {
    font-size: 150%;
}
.xtics, dt{
    color: yellow;
}
.genre {
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    padding: 3px;
}

.genre:hover {
    text-transform: uppercase;
}

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}