body {
    background-color: rgb(92, 105, 89);
}
h1 {
    color: rgb(56, 143, 146);
    font-size: 50px;
}
h5 {
    color: white;
}
h3 {
    color: rgb(56, 143, 146);
    font-size: 30px;
}

.myclasses, .myfavorites, .mymoods, .myfunfacts{   
    display: flex;
}
.title{
    flex: 1
}
.desc{
    flex: 3;
    align-self: center;
}

li {
    color: white;
    font-size: large;
}
.mood {
    color: white;
    font-weight: bold;   
}

.mood-img {
    display: flex;
    flex-direction: row;    
}
.mood-img img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    color: white;
}
p:first-letter {
    font-size: 150%;
}
.xtics, dt{
    color: yellow;
}
.genre {
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    padding: 3px;
}

.genre:hover {
    text-transform: uppercase;
}

.footer-right{
    float: right;
}

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}