.click-me{
    margin: 0 auto;
    width: 200px;
    margin-top: 200px;

}

button {
    width: 150px;
    height: 60px;
    font-weight: bolder;
    font-size: xx-large;
    color: darkblue;
}

#bid {
    color: blue;
}


.btn {
    color: black;
}
span{
    text-align: center;
    display: block;
}