body{
    margin: auto;
    width: 60%;
}

#wordinput{
    width: 50%;
    padding-bottom: 10px;
    border-bottom: 1px double gray;
}

img#logo {
    width: 50% !important;
    height: 200px;
}

#txtword {
    width: 380px;
    height: 32px;
    font-size: 18px;
}

button {
    width: 116px;
    height: 32px;
    background-color: #160564;
    color: rgb(236, 222, 16);
    font-size: 18px;
    cursor: pointer;
}
#defnitions {
    margin-left: 20px;
} 
#defnitions li{
    margin-bottom: 10px;
}